.footer__copyright {
    max-width: 318px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 590px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding-left: 19px;
    }
}