.header {
    position: relative;
    max-width: 880px;
    min-width: 320px;
    width: 68%;
    margin: 0;
    padding: 45px 0 41px;
    display: flex;
    align-self: center;
    background-color: #000000;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 880px) {
    .header{
        padding: 28px 0 31.6px 0;
    }
}